extends layout

block content
    .preview

    .attract
        span.glyphicon.glyphicon-arrow-down(style='float: left')
        | Take a picture!
        span.glyphicon.glyphicon-arrow-down(style='float: right')

    .countdown
        span.numbers
        span.remaining.remaining-0: .glyphicon.glyphicon-camera

    .error
        | Camera error!

    .photo
        .backdrop
        .image

    .take-photo

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/script.js')
